td, th {
  border: 1px solid rgb(236, 6, 56);
  border-radius: 5px;
  font-size: 25px;
  
}

.table {
    margin-left: 5%;
    margin-top: 2%;
}
.labeldata{
 color: RED;
 font-size: 30px;
 margin-left: 35%;
}